<ul class="pagination col s12 m6 offset-m4  l6 offset-l4 ">
				<li class="waves-effect"><a ng-click="nextPage(-1)"><i class="mdi-navigation-chevron-left"></i></a></li>
				<li class="waves-effect" ng-click="nextPage(-2)" ng-hide="(pagination.activePage)-2 <= 0 "> {{ (pagination.activePage)-2 }} </li>
				<li class="waves-effect" ng-click="nextPage(-1)" ng-hide="(pagination.activePage)-1 <= 0 "> {{ (pagination.activePage)-1 }} </li>
				<li class="active" ng-click="nextPage(0)">{{pagination.activePage}}</li>
				<li class="waves-effect" ng-click="nextPage(1)" ng-hide=""> {{ (pagination.activePage)+1 }}</li>
				<li class="waves-effect" ng-click="nextPage(2)" ng-hide=""> {{ (pagination.activePage)+2 }}</li>
				<li class="waves-effect" ng-click="nextPage(3)" ng-hide="(pagination.activePage)-1 > 0"> {{ (pagination.activePage)+3 }} </li>
				<li class="waves-effect" ng-click="nextPage(4)" ng-hide="(pagination.activePage)-2 > 0"> {{ (pagination.activePage)+4 }} </li>
				<li class="waves-effect"><a ng-click="nextPage(1)"><i class="mdi-navigation-chevron-right"></i></a></li>
			</ul>